<h1> welcome to myblog </h1>
<%= link_to 'view articles', articles_path , class: "badge badge-pill badge-info" %>
<%= link_to 'new article ', new_article_path , class: "badge badge-pill badge-success" %>
<%= link_to 'new user ', new_user_registration_path , class: "badge badge-pill badge-warning" %>
 

