@import 'bootstrap/dist/css/bootstrap';
//@import '@fortawesome/fontawesome-free';

$fa-font-path: '@fortawesome/fontawesome-free/webfonts';
@import '@fortawesome/fontawesome-free/scss/fontawesome';
@import '@fortawesome/fontawesome-free/scss/solid';
@import '@fortawesome/fontawesome-free/scss/regular';
@import '@fortawesome/fontawesome-free/scss/brands';
@import '@fortawesome/fontawesome-free/scss/v4-shims';


$navbar-color: #5BB6BA; 
$navbar-color-dark: #31676A;

.navbar {
  background-color: $navbar-color !important;
 // margin-bottom: 20px !important;
}
.btn-xlarge {
  background-color: $navbar-color;
  color:black;
}
.btn-xlarge:hover {
  //color:#CBE2E3;
  color: white;
  background-color: $navbar-color-dark;
  text-decoration: none;
}
.article-title{
  font-size: 2.5rem;
}
.article-body{
  font-size: 1rem;
}
.container{
  margin: auto;
}
.user-menu{
  float: right; ;
  margin-right: 90px;
}
.dropdown-item:hover{
   background-color: $navbar-color;
   color: white;
}

/*

body {
  margin: 0px;
}
.box{
  padding: 20px;
  //box-sizing: border-box;
}
.container-fluid{
  height: 100%;
  //display: table;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
.container{
  padding-top: 20px;
  padding-right: 20px ;
  padding-bottom: 20px;
  padding-left: 20px;
}
.right{
  float: right;
}
.gap{
  margin-top: 15px;
  //margin-bottom: 5px;
}
.card-link{
  color:$navbar-color-dark;
}
.navbar-brand {
    font-size: 3rem;
}
h1 { 
  color: red;
}
.card{
  margin: auto;
}
*/
